#site {
    width: 1000px;
    margin:0px auto;
}
h1, p, h3, h2 { text-align: center;}
li {
list-style-type: none;
margin-left: -45px;
 }
h1 {
color: crimson;
}
h3 {
color: aqua;
-webkit-text-stroke-width: 1px; 
-webkit-text-stroke-color: black;      
}
h4,h5 {
text-align: center;
}
h6 {margin-left: -45px;
text-align: center;
width: 1000px;
margin:0px auto;
}
img {
border-radius: 30px;
}
a{
text-decoration: none;
}